@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

* {
    box-sizing: border-box;
    font-family: outfit;
}

.counter-div {
    margin: 5em 30vw;
    text-align: center;
}

.postList-sect {
    max-width: 40em;
    margin:0 auto;
}

.addPostForm-sect {
    display: grid;
    margin: 3em auto;
    padding-inline: 1em;
    padding-block: 1em;
    max-width: 40em;
}

.addPostForm-sect label {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(39, 37, 37);
}

.all-user-sect {
    margin: 0 auto;
    max-width: 40rem;
}

.link {
    padding: 1rem 1rem ;
    display: block;
    background-color: rgb(232, 234, 237);
    width: 100%;
    font-weight: 500;
    color: rgb(58, 54, 54);
    border-radius: 0.5rem;
    border: 1px solid white;
}

.link:hover{
    background-color: rgb(207, 211, 218)
}

.logo {
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
}